@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode.woff2") format("woff2");
}

/******************************************************************************/
/* Color Scheme                                                               */
/******************************************************************************/
:root {
  --blue-crayola: #2176ffff;
  --platinum: #e8e9ebff;
  --alabaster: #e0dfd5ff;
  --onyx: #313638ff;
  --tuscan-red: #885053ff;


  --main-header-bg-color: var(--onyx);
  --main-header-fg-color: var(--platinum);
  --main-header-link-color: var(--platinum);

  --main-bg-color: var(--alabaster);
  --main-link-color: var(--blue-crayola);

  --article-bg-color: white;
  --article-fg-color: black;
  --article-header-fg-color: var(--onyx);
  --article-subheader-fg-color: var(--tuscan-red);


  --main-footer-bg-color: var(--onyx);
  --main-footer-fg-color: var(--platinum);
  --main-footer-link-color: var(--blue-crayola);

  --shadow-color: rgba(34, 34, 34, 0.1);
}

/******************************************************************************/
/* Fonts                                                                      */
/******************************************************************************/
body {
  font-family: 'Open Sans', sans-serif;
}

#brand {
  font-weight: 300;
  font-size: 1.5rem;
}

header > h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

header > h2 {
  font-weight: 300;
  font-size: 1rem;
}

h1 {
  font-weight: 400;
  font-size: 1.4rem;
}

h2 {
  font-weight: 400;
  font-size: 1.3rem;
}

h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

h4 {
  font-weight: 400;
  font-size: 1.1rem;
  font-style: italic;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}

article > section > header > h1 {
  font-weight: 400;
  font-size: 1.25rem;
}

code {
  font-family: "Cascadia Code", "Courier New", monospace;
}

/******************************************************************************/
/* Colors                                                                     */
/******************************************************************************/
body {
  background-color: var(--main-bg-color);
}

#main-header {
  background-color: var(--main-header-bg-color);
  color: var(--main-header-fg-color);
  box-shadow: 0 1px 6px var(--shadow-color);
}

#main-header a, #main-header a:visited, #main-header a:hover {
  color: var(--main-header-link-color);
  text-decoration: none;
}

article, main > nav, #side {
  background-color: var(--article-bg-color);
  color: var(--article-fg-color);
  box-shadow: 3px 3px 6px var(--shadow-color);
}

header > h1 {
  color: var(--article-header-fg-color);
}

header > h2 {
  color: var(--article-subheader-fg-color);
}

a, a:visited, a:hover {
  color: var(--main-link-color);
  text-decoration: none;
}

#main-footer {
  background-color: var(--main-footer-bg-color);
  color: var(--main-footer-fg-color);
  box-shadow: 0 -1px 6px var(--shadow-color);
}

#main-footer a, #main-footer a:visited, #main-footer a:hover {
  color: var(--main-footer-link-color);
  text-decoration: none;
}

/******************************************************************************/
/* Layout                                                                     */
/******************************************************************************/
html, body {
  height: 100%;
}

body {
  /* 12 column grid with first and last columns being gaps */
  display: grid;
  grid-template-columns: 1rem repeat(10, minmax(0, 1fr)) 1rem;
  grid-template-rows: min-content auto min-content;
  grid-gap: 1rem;
  /* remove stupid margin */
  margin: 0;
}

/* separate brand from nav */
#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* align nav horizontally */
#main-header nav, #main-footer nav {
  display: grid;
  grid-gap: 1rem;
  list-style-type: none;
}

/* keep all nav items on same row */
#main-header nav li, #main-footer nav li {
  grid-row: 1;
}

/* have articles proceed in a column */
main {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
}

/* round borders of articles */
article, main > nav, #side {
  border-radius: 3px;
  padding: 1rem;
}

/* avoid excessive margins in the headers */
header > h1, header > h2 {
  margin: 0;
}

/* set a margin on the overall article headers */
header {
  margin-bottom: 0.5rem;
}

/* round borders of code blocks */
.hljs {
  border-radius: 3px;
}

/* spread the prev/next nav at the end of the main content */
main > nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* full-width footer */
#main-footer {
  width: 100%;
  text-align: center;
}

/******************************************************************************/
/* Media                                                                      */
/******************************************************************************/
/* remove sidebar */
@media screen and (max-width: 1199px) {
  #main-header {
    grid-column: 1 / span 12;
    grid-row: 1;
  }

  main {
    grid-column: 2 / span 10;
    grid-row: 2;
  }

  #side {
    grid-column: 2 / span 10;
    grid-row: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #side {
    display: none;
  }

  #main-footer {
    grid-column: 1 / span 12;
    grid-row: 4;
  }
}

/* position sidebar on right */
@media screen and (min-width: 1200px) {
  #main-header {
    grid-column: 1 / span 12;
    grid-row: 1;
  }

  main {
    grid-column: 2 / span 8;
    grid-row: 2;
  }

  #side {
    grid-column: 10 / span 2;
    grid-row: 2;
  }

  #main-footer {
    grid-column: 1 / span 12;
    grid-row: 3;
  }
}
