{:site-title                   "Andrew Oberstar"
 :author                       "Andrew Oberstar"
 :description                  "My personal blog."
 :site-url                     "https://andrewoberstar.com/"
 :post-root                    "posts"
 :page-root                    "pages"
 :tag-root-uri                 "tags"
 :blog-prefix                  ""
 :rss-name                     "feed.xml"
 :recent-posts                 3
 :post-date-format             "yyyy-MM-dd"
 :sass-src                     []
 :theme                        "andy"
 :resources                    ["img" "CNAME"]
 :disqus?                      false
 :disqus-shortname             ""
 :previews?                    true
 :posts-per-page               5
 :blocks-per-preview           2
 :clean-urls                   :trailing-slash}
