<article class="">
    <header class="">
        <h1 class=""><a class="" href="{{ include.post.url }}">{{ include.post.title }}</a></h1>
        <h2 class="">{{ include.post.date | date: "%B %d, %Y" }}</h2>
    </header>
    <section class="">
        {% if include.full_content %}
            {{ include.post.content }}
        {% else %}
            {{ include.post.excerpt }}
            <p>...</p>
        {% endif %}
    </section>
    <footer>
        <span class="ao-post-tag">{{ include.post.category }}</span>
        {% for tag in include.post.tags %}
            <span class="ao-post-tag">{{ tag }}</span>
        {% endfor %}
    </footer>
</article>
