@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode.woff2") format("woff2");
}

:root {
  /* theme colors */
  --blue-crayola: #2176ffff;
  --platinum: #e8e9ebff;
  --alabaster: #e0dfd5ff;
  --onyx: #313638ff;
  --tuscan-red: #885053ff;


  --main-header-bg-color: var(--onyx);
  --main-header-fg-color: var(--platinum);
  --main-header-link-color: var(--platinum);

  --main-bg-color: var(--alabaster);
  --main-link-color: var(--blue-crayola);

  --article-bg-color: white;
  --article-fg-color: black;
  --article-header-fg-color: var(--onyx);
  --article-subheader-fg-color: var(--tuscan-red);


  --main-footer-bg-color: var(--onyx);
  --main-footer-fg-color: var(--platinum);
  --main-footer-link-color: var(--blue-crayola);

  --shadow-color: rgba(34, 34, 34, 0.1);
}

body {
  font-family: 'Open Sans', sans-serif;
}

#brand {
  font-weight: 300;
  font-size: 1.5rem;
}

header > h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

header > h2 {
  font-weight: 300;
  font-size: 1rem;
}

article > section > header > h1 {
  font-weight: 600;
  font-size: 1.1rem;
}

code {
  font-family: "Cascadia Code", "Courier New", monospace;
}

/******************************************************************************/
/* Layout                                                                     */
/******************************************************************************/
body {
  display: grid;
  grid-template-columns: 1rem repeat(10, minmax(0, 1fr)) 1rem;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  margin: 0;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

#main-header nav, #main-footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

#main-header nav li, #main-footer nav li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#main-header nav li:first-of-type {
  margin-left: 0;
}

#main-header nav li:last-of-type {
  margin-right: 0;
}

main {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
}

article, main > nav, #side {
  border-radius: 3px;
  padding: 1rem;
}

header > h1, header > h2 {
  margin: 0;
}

header {
  margin-bottom: 0.5rem;
}

.hljs {
  border-radius: 3px;
}

main > nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#main-footer {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

/******************************************************************************/
/* Media                                                                      */
/******************************************************************************/
@media screen and (max-width: 767px) {
  #main-header {
    grid-column: 1 / span 12;
    grid-row: 1;
  }

  main {
    grid-column: 2 / span 10;
    grid-row: 2;
  }

  #side {
    grid-column: 2 / span 10;
    grid-row: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #side > nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  #side > nav > li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  #main-footer {
    grid-column: 1 / span 12;
    grid-row: 4;
  }
}

@media screen and (min-width: 768px) {
  #main-header {
    grid-column: 1 / span 12;
    grid-row: 1;
  }

  main {
    grid-column: 2 / span 8;
    grid-row: 2;
  }

  #side {
    grid-column: 10 / span 2;
    grid-row: 2;
  }

  #side > nav {
    list-style-type: none;
  }

  #main-footer {
    grid-column: 1 / span 12;
    grid-row: 3;
  }
}

/******************************************************************************/
/* Colors                                                                     */
/******************************************************************************/
body {
  background-color: var(--main-bg-color);
}

#main-header {
  background-color: var(--main-header-bg-color);
  color: var(--main-header-fg-color);
  box-shadow: 0 1px 6px var(--shadow-color);
}

#main-header a, #main-header a:visited, #main-header a:hover {
  color: var(--main-header-link-color);
  text-decoration: none;
}

article, main > nav, #side {
  background-color: var(--article-bg-color);
  color: var(--article-fg-color);
  box-shadow: 3px 3px 6px var(--shadow-color);
}

header > h1 {
  color: var(--article-header-fg-color);
}

header > h2 {
  color: var(--article-subheader-fg-color);
}

a, a:visited, a:hover {
  color: var(--main-link-color);
  text-decoration: none;
}

#main-footer {
  background-color: var(--main-footer-bg-color);
  color: var(--main-footer-fg-color);
  box-shadow: 0 -1px 6px var(--shadow-color);
}

#main-footer a, #main-footer a:visited, #main-footer a:hover {
  color: var(--main-footer-link-color);
  text-decoration: none;
}
