<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="alternate" type="application/atom+xml" title="Posts" href="/feed.xml">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,700,800" rel="stylesheet">
    <!-- Custom Style -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/solarized-dark.css">
</head>
<body>
    <header class="ao-nav">
        <a class="ao-nav-brand" href="/">Andrew Oberstar</a>
        <nav>
            {% for link in site.data.links %}
                <a class="ao-nav-item" href="{{ link.url }}">{{ link.text }}</a>
            {% endfor %}
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
