<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{title}}{% block subtitle %}{% endblock %}</title>

    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="">
    {% endblock %}

    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="alternate" type="application/atom+xml" title="Posts" href="/feed.xml">

    {% style "css/main.css" %}
    {% style "css/atom-one-dark.css" %}
</head>

<body>
    <header id="main-header">
        <a id="brand" href="{{index-uri}}">{{title}}</a>
        <nav>
            <li {% if home %} class="active" {% endif %}><a href="{{index-uri}}">Home</a></li>
            <li {% if archives %} class="active" {% endif %}><a href="{{archives-uri}}">Archives</a></li>
            {% for nav-page in navbar-pages %}
            <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
            </li>
            {% endfor %}
            <li><a href="{{rss-uri}}">RSS</a></li>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <section id="side">
        {% if latest-posts|not-empty %}
        <section>
            <header>
                <h1>Recent Posts</h1>
            </header>
            <ul>
                {% for post in latest-posts %}
                <li><a href="{{post.uri}}">{{post.title}}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        {% if tags|not-empty %}
        <section>
            <header>
                <h1>Tags</h1>
            </header>
            <nav>
                <ul>
                    {% for tag in tags %}
                    <li><a href="{{tag.uri}}">{{tag.name}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
        {% endif %}
    </section>
    <footer id="main-footer">
        <p>Copyright &copy; {{today|date:yyyy}} {{author}}</p>
        <p>Powered by <a href="http://cryogenweb.org">Cryogen</a></p>
    </footer>

    {% script "js/highlight.pack.js" %}
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>
