{% extends "/html/base.html" %}
{% block content %}
{% for post in posts %}
<article>
    <header>
        <h1 class="">{{post.title}}</h1>
        <h2 class="">{{post.date|date:longDate}}</h2>
    </header>
    {{post.content|safe}}
    <a href="{{post.uri}}">Continue Reading</a>
</article>
{% endfor %}
{% if any prev-uri next-uri %}
<nav>
    {% if prev-uri %}
    <a class="left" href="{{prev-uri}}">&laquo; Prev</a>
    {% endif %}
    {% if next-uri %}
    <a class="left" href="{{next-uri}}">Next &raquo;</a>
    {% endif %}
</nav>
{% endif %}
{% endblock %}
