/* BEGIN general sizing */
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
/* END general sizing */

/* BEGIN item nav layout */
.item-nav {
    display: flex;
    justify-content: center;
}
.item-nav .mdl-button {
    margin: 5px;
}
/* END item nav layout */

/* BEGIN fix for subtitle alignment */
/* see https://github.com/google/material-design-lite/issues/1002 */
.mdl-card__title {
        flex-direction: column;
        justify-content: flex-end;
}

.mdl-card__title-text, .mdl-card__subtitle-text {
    align-self: flex-start;
}
/* END fix for subtitle alignment */

/* BEGIN h sizing in articles */
article section h1 { font-size: 2em; line-height: normal; }
article section h2 { font-size: 1.5em; line-height: normal; }
article section h3 { font-size: 1.17em; line-height: normal; }
article section h4 { font-size: 1em; line-height: normal; }
article section h5 { font-size: 0.83em; line-height: normal; }
article section h6 { font-size: 0.67em; line-height: normal; }
/* END h sizing in articles */

/* BEGIN fix overflow of code samples */
pre.highlight { overflow-x: auto; }
/* END fix overflow of code samples */

/* BEGIN emphasis around code snippets */
pre.highlight {
    padding: 5px;
    border: 2px solid #B0BEC5; /* material blue-grey 500 */
    border-radius: 2px;
}
/* END emphasis around code snippets */

/* BEGIN put the language name in the code block */
.highlighter-rouge {
    position: relative;
}

pre.highlight:before {
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0.5;
}

.language-java pre.highlight:before { content: "java"; }
.language-groovy pre.highlight:before { content: "groovy"; }
.language-clojure pre.highlight:before { content: "clojure"; }
.language-scala pre.highlight:before { content: "scala"; }
.language-kotlin pre.highlight:before { content: "kotlin"; }

.language-ruby pre.highlight:before { content: "ruby"; }
.language-io pre.highlight:before { content: "io"; }
.language-erlang pre.highlight:before { content: "erlang"; }
.language-haskell pre.highlight:before { content: "haskell"; }
.language-prolog pre.highlight:before { content: "prolog"; }
.language-php pre.highlight:before { content: "php"; }
.language-perl pre.highlight:before { content: "perl"; }
/* END put the language name in the code block */
